table,th,td{
		margin : 5px 80px 30px 60px;	
		border:2px solid black;
		//margin-top:40px;
		padding:10px;
		text-align:center;
		color:white;
}
h1{
	padding-top:182px;
	margin-bottom:80px;
	text-align:center;
	color:white;
}
.t{
	margin-left:500px;
}