
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
		<h1>Preschool</h1>
	  </a>
    </div>
    <ul class="nav navbar-nav l">
      <li><a href="#" class="l1"><h3>Home</h3></a></li>
      <li><a routerLink = "/AddStudent" class="l1"><h3>Add</h3></a></li>
      <li><a routerLink = "EditStudent" class="l1"><h3>Edit</h3></a></li>
      <li><a [routerLink] = "['Student']" class="l1"><h3>View</h3></a></li>
    </ul>
</div>
</nav>
	<div class ="middle">
	<router-outlet></router-outlet>
</div>

<div class="row">
	<div class="col-sm-3 c">
		<h2>About Us</h2>
		<h4>I'm a Paragraph.Click here to add your own text and edit me.I'm a great place for you a story and let your users know a little more about you.</h4>
	</div>
	<div class="col-sm-3 c1">
		<h2>Programs</h2>
		<h4>I'm a Paragraph.Click here to add your own text and edit me.I'm a great place for you a story and let your users know a little more about you.</h4>
	</div>
	<div class="col-sm-3 c2">
		<h2>Meet Our Staff</h2>
		<h4>I'm a Paragraph.Click here to add your own text and edit me.I'm a great place for you a story and let your users know a little more about you.</h4>
	</div>
	<div class="col-sm-3 c3"><h2>Contact Us</h2>
		<h4>We are accepting registration.</h4>
	
<div class = "foot fa">
	<i class="nav-link fab fa-facebook"></i>
	<i class="nav-link fab fa-twitter-square"></i>
	<i class="nav-link fab fa-google-plus-square"></i>
	<i class="nav-link fab fa-linkedin"></i>
</div>
</div>
</div>	

<footer class="f">
	<div style="text-align:center">Copyright <i class="fa fa-copyright fa-lg f1" aria-hidden="true"></i>
					Ordasoft 2018 All rights reserved.</div>
				<div style="text-align:center">Custom Design by OrdaSoft.com</div>
</footer>
