.navbar{
	background-color:lightgray;
	height:60px;
	margin-left:455px;
	margin-top:41px;
	margin-right:45px;
	border-radius:30px;
	
}
h1{
	margin-top:-12px;
	margin-left:-411px;
	color:white;
	font-size:64px;
	font-style:italic;
}
h3{
	color:red;
}
h3:hover{
	color:white;
}	
.l{
	padding-left:310px;
}
.l1{
	padding-left:50px;
	font-size:25px;
	padding-top:0px;
	margin-bottom:0px;
	color:red;
}
.f{
	background-color:lightgray;
	height:45px;
	color:red;
}

.i{
	margin-left:-310px;

}
.limg{
	height:500px;
	width:500px;
}
.middle
{
	background-image : url('../assets/img/s2.jpg');
	width : 1600px;
	height : 800px;
	margin-top:-30px;
	background-size:100%;
	background-repeat:no-repeat;
	//background-color : lightpink;
}
.foot
{
	height : 60px;
	width:100%;
	//background-color:orange;
}
.fa{
	//padding:15px;	
	color:black;
	margin-top:0px;
	font-size:40px;
	//padding-left:650px;
}
.row{
	padding-left:15px;
	padding-right:15px;
}

.c{
	background-color:dodgerblue;
	color:white;
	border:5px solid white;
}
.c1{
	background-color:pink;
	color:white;
	border:5px solid white;
}
.c2{
	background-color:lightgreen;
	color:white;
	border:5px solid white;
}
.c3{
	background-color:red;
	color:white;
	border:5px solid white;
}
.f1{
	//background-color:black;
	height:10px;
	color:red;
	padding-top:5px;
	font-size:15px;
}